:root {
  --color-dark: #191A23;
  --color-light: #FFFFFF;
  --color-accent: #B9FF66;
  --font-family-base: 'Goudy Bookletter 1911', sans-serif;
  --container-width: 1240px;
  --container-padding-x: 20px;

}